@import "variables";

//media queries tablet
@media screen and (min-width:600px){

    //mq tablet home
    main{
        .imagen-artista-home img{
            width: 50%;
        }
        .titulo-home{
            font-size: 5rem;
            text-shadow: 5px 5px 3px $color-active;
        }
        .texto-home{
            font-size: 1.3rem;
            margin: 3rem 5rem 1rem 5rem;
        }
    }
    
    //mq tablet obras
    main{
        .main-obras{
            margin-left: 2rem;
            margin-right: 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .foto-obra{
                .informacion-obra{
                    margin-bottom: 1rem;
                }
            }
        }
    }

    //mq tablet acerca de mi
    .main-about{
        margin: 3rem;
    }
    
    //mq tablet detalle de obra
    .main-detalle-obra{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "img h2"
        "img p";

        align-items: center;
        
        img{
            grid-area: img;
        }
        h2{
            grid-area: h2;
        }
        p{
            grid-area: p;
            font-size: 0.9rem;
        }
    }
}
 
//media queries desktop
@media screen and (min-width:1024px){

    //mq desktop home
    .main-home{
        .imagen-artista-home img{
            width: 40%;
        }
        .titulo-home{
            font-size: 7rem;
            text-shadow: 6px 6px 3px $color-active;
            margin: 4rem 5rem 4rem 5rem;
        }
        .texto-home{
            font-size: 1.2rem;
        }
    }
    
    //mq desktop obras
    main{
        .sub-titulo{
            font-size: 4rem;
        }
        .main-obras{
            margin-left: 5rem;
            margin-right: 5rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            position: relative;
            .foto-obra{
                margin: 1rem;
                perspective: 1000px;
            }
            .foto-obra:hover .informacion-obra{
                opacity: 1;
                transition: opacity 0.2s;
            }
            .foto-obra:hover img{
                filter: blur(2px) grayscale(50%) opacity(0.5);
                transition: filter 1s;
            }
            .informacion-obra{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity 0.2s;
                color: $color-oscuro;
                h2{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }
            }
        }
    }

    //mq desktop acerca de mi
    .main-about{
        margin: 4rem 2rem 0rem 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "img h1"
        "img p";
        align-items: center;
        .foto-obra img{
            width: 100%;
        }

        .foto-artista{
            grid-area: img;
            width: 90%;
        }
        h1{
            grid-area: h1;
        }
        p{
            grid-area: p;
            padding: 1rem;
        }
    }
    .section-about{
        margin: 3rem;
        flex-direction: row;
    }
}