//google fonts Poiret One 400, Roboto Mono 200 y 400.
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Mono:wght@200;400&display=swap');

// colores
$color-principal: #A0B1F5;
$color-principal-translucido: rgba(160, 177, 245, 0.3);
$color: #616F86;
$color-secundario: #C8D2F9;
$color-active: #91A4F3;
$color-claro: #f5f5f5;
$color-oscuro: #020512;
$color-sombra: #c4c4c4ab;

// tipografia
$tipografia-titulo: 'Poiret One', cursive;
$tipografia: 'Roboto Mono', monospace;